---
import { Image } from 'astro:assets';
import {
  ATPROTO_SERVICE_URL,
  ATPROTO_SERVICE_DID,
  ATPROTO_SERVICE_PASSWORD,
  ATPROTO_ACCOUNT_DID,
} from 'astro:env/server';

import Bluesky from '../components/icons/Bluesky.svg';
import Github from '../components/icons/Github.svg';
import Layout from '../layouts/Layout.astro';

import '../styles/global.css';

import { AtProtoAccount } from '../utils/AtProtoAccount.ts';

// TODO: Implement cache
const cache = {
  get: async (key: string): Promise<string | null> => {
    const value = await localStorage.getItem(key);
    return value ? JSON.parse(value) : null;
  },
  put: async (key: string, value: string): Promise<void> => {
    await localStorage.setItem(key, JSON.stringify(value));
  },
  delete: async (key: string): Promise<void> => {
    await localStorage.removeItem(key);
  },
};

const account = new AtProtoAccount({
  service: ATPROTO_SERVICE_URL,
  serviceAccount: ATPROTO_SERVICE_DID,
  password: ATPROTO_SERVICE_PASSWORD,
  cache,
});

const agent = await account.getAgent();

const { data: profile } = await agent.getProfile({
  actor: ATPROTO_ACCOUNT_DID,
});

const name = profile.displayName || profile.handle;
---

<Layout title={`Home - ${name}`}>
  <div class="min-h-screen text-slate-50">
    <div class="relative h-64 md:h-80 w-full overflow-hidden">
      {
        profile.banner && (
          <Image
            inferSize
            widths={[240, 540, 720, 1200, 1600, 2000, 3000]}
            src={profile.banner}
            alt=""
            class="object-cover w-full h-full bg-center"
            loading="eager"
            quality="mid"
            priority
          />
        )
      }
      <div class="absolute inset-0 bg-black/50"></div>
    </div>

    <div class="container mx-auto px-4 md:px-6">
      <div class="relative -mt-24 flex flex-col items-center">
        <div
          class="relative h-48 w-48 rounded-full overflow-hidden border-4 border-gray-800 shadow-lg"
        >
          {
            profile.avatar && (
              <Image
                inferSize
                widths={[32, 64, 90, 192, 240]}
                src={profile.avatar}
                alt={`${name}'s profile picture`}
                class="object-cover"
                quality="high"
                loading="eager"
                decoding="async"
                priority
              />
            )
          }
        </div>

        <div class="mt-6 text-center max-w-2xl">
          <h1 class="text-3xl md:text-5xl font-bold text-slate-50">{name}</h1>
          <h2 class="mt-2 text-xs text-slate-300">{profile.did}</h2>

          <p class="mt-6 text-slate-300 leading-relaxed whitespace-pre-wrap">
            {profile.description || "No bio available."}
          </p>
        </div>

        <div class="mt-10 flex items-center justify-center space-x-8">
          <a
            href="https://github.com/Johannes-Andersen"
            data-test="github-link"
            target="_blank"
            rel="noopener noreferrer"
            class="text-slate-300 hover:text-slate-50 transition-colors"
          >
            <Github class="h-7 w-7" />
            <span class="sr-only">GitHub</span>
          </a>
          <a
            href={`https://bsky.app/profile/${profile.handle}`}
            data-test="bluesky-link"
            target="_blank"
            rel="noopener noreferrer"
            class="text-slate-300 hover:text-slate-50 transition-colors"
          >
            <Bluesky class="h-7 w-7" />
            <span class="sr-only">Bluesky</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</Layout>
