---
import { DISCORD_SNOWFLAKE } from 'astro:env/server';
import Avatar from '../components/Avatar.astro';
import Layout from '../layouts/Layout.astro';

import Github from '../components/icons/Github.astro';
import Xlogo from '../components/icons/XLogo.astro';
import { fetchDiscordStatus } from '../utils/fetchDiscordStatus';

const {
  data: { discord_user, discord_status },
} = await fetchDiscordStatus(DISCORD_SNOWFLAKE);
const { username, global_name, id, avatar } = discord_user;
---

<Layout title="Home - Johannes Andersen">
  <main>
    <h1>
      {global_name} (@{username})
    </h1>

    <p>Currently {discord_status} on Discord</p>

    <Avatar
      id={id}
      avatar={avatar}
      username={global_name}
      status={discord_status}
    />
  </main>

  <footer>
    <a aria-label="Link to my x.com profile" href="https://x.com/johand199">
      <Xlogo class="fill-white w-5 h-5" name="github" />
    </a>
    <a
      aria-label="Link to my GitHub provile"
      href="https://github.com/Johannes-Andersen"
    >
      <Github class="fill-white w-5 h-5" />
    </a>
  </footer>
</Layout>

<style>
  main,
  footer {
    margin: auto;
    padding: 1rem;
    color: white;
    font-size: 20px;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  main h1 {
    text-align: center;
  }

  footer {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
</style>
