---
import Avatar from '../components/Avatar.astro';
import Layout from '../layouts/Layout.astro';

import Bluesky from '../components/icons/Bluesky.svg';
import Github from '../components/icons/Github.svg';

import '../styles/global.css';
import { AtProtoAccount } from '../utils/AtProtoAccount';

const { env } = Astro.locals.runtime;

const account = new AtProtoAccount({
  service: env.ATPROTO_SERVICE_URL,
  serviceAccount: env.ATPROTO_SERVICE_DID,
  password: env.ATPROTO_SERVICE_PASSWORD,
  cache: env.ATPRTO_CACHE,
});

const agent = await account.getAgent();

const { data: profile } = await agent.getProfile({
  actor: env.ATPROTO_ACCOUNT_DID,
});

const name = profile.displayName || profile.handle;
---

<Layout title={`Home - ${name}`}>
  <main class="mx-auto p-4 text-white text-xl flex flex-col items-center gap-4">
    {profile.avatar && <Avatar
      avatar={profile.avatar}
      username={name}
    />}

    <h1 class="text-center">
      {profile.displayName} (@{profile.handle})
    </h1>

    <p class="whitespace-pre-wrap text-center">{profile.description}</p>
  </main>

  <footer class="mx-auto p-4 text-white text-xl flex justify-center gap-4">
    <a
      aria-label="Link to BlueSky profile"
      href=`https://bsky.app/profile/${profile.handle}`
    >
      <Bluesky class="fill-white w-8 h-8 hover:text-[#0085ff]" name="BlueSky" />
    </a>
    <a
      aria-label="Link to GitHub profile"
      href="https://github.com/Johannes-Andersen"
    >
      <Github class="fill-white w-8 h-8 hover:text-[#d1d7e0]" name="GitHub" />
    </a>
  </footer>
</Layout>
