---
import Avatar from '../components/Avatar.astro';
import Layout from '../layouts/Layout.astro';

import Bluesky from '../components/icons/Bluesky.svg';
import Github from '../components/icons/Github.svg';

import '../styles/global.css';
import { AtProtoAccount } from '../utils/AtProtoAccount';

const { env } = Astro.locals.runtime;

const account = new AtProtoAccount({
  service: env.ATPROTO_SERVICE_URL,
  serviceAccount: env.ATPROTO_SERVICE_DID,
  password: env.ATPROTO_SERVICE_PASSWORD,
  cache: env.ATPRTO_CACHE,
});

const agent = await account.getAgent();

const { data: profile } = await agent.getProfile({
  actor: env.ATPROTO_ACCOUNT_DID,
});

const name = profile.displayName || profile.handle;
---

<Layout title={`Home - ${name}`}>
  <main>
    {profile.avatar && <Avatar
      avatar={profile.avatar}
      username={name}
    />}

    <h1>
      {profile.displayName} (@{profile.handle})
    </h1>

    <p class="whitespace-pre text-center">{profile.description}</p>
  </main>

  <footer>
    <a
      aria-label="Link to my BlueSky profile"
      href=`https://bsky.app/profile/${profile.handle}`
    >
      <Bluesky class="fill-white w-8 h-8" name="BlueSky" />
    </a>
    <a
      aria-label="Link to my GitHub profile"
      href="https://github.com/Johannes-Andersen"
    >
      <Github class="fill-white w-8 h-8" name="GitHub" />
    </a>
  </footer>
</Layout>

<style>
  main,
  footer {
    margin: auto;
    padding: 1rem;
    color: white;
    font-size: 20px;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }

  main h1 {
    text-align: center;
  }

  footer {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
</style>
